# Matching and merging two datasets

Thank you for your interest in Finquest. To know more about your background and innovative drive in real-world data science/machine learning, we have curated two toy datasets for you to get your hands dirty.

## Goal

Your goal is to analyze these two datasets and think of as many as possible approaches to match rows in two datasets. This is an open question and your performance will be evaluated based on the following factors:

* Number of approaches proposed, implemented and evaluated.
* Ability to approach real-world problems with common data science tools and machine learning algorithms.
* Code quality of your implementation.

In general, we value both the broadness and depth of your takes on this challenge.


## Deadline

You have one week (7 days) to solve this challenge and send back your solutions as a *single* Jupyter Notebook (`.ipynb` format) to daoyuan.li@finquest.com.


## Notes

* Please work on this challenge by yourself and do not share it with any other persons.
* You own copyrights of your solutions.
* You are free to choose your programming language for this challenge, but Python 3.6+ is preferred if you join us later.
* It is OK to ask for clarifications to daoyuan.li@finquest.com.

We hope you enjoy this challenge, and we look forward to receiving your reply.

In [1]:
! wc -l *.tsv

  1826170 source1.tsv
  3531391 source2.tsv
  5357561 total

In [2]:
! head -n 10 *.tsv

==> source1.tsv <==
id	name	street_number	street_type	street_name	address_line2	postal_code	city
00542012000015	SOCIETE DES SUCRERIES DU MARQUENTERRE		RUE	DE LA FONTAINE		80120	RUE
00542012000031	SOCIETE DES SUCRERIES DU MARQUENTERRE		RTE	NATIONALE		62140	MARCONNELLE
00545011900028	LE GRAND CAFE ET GASSENDI			SAINT CHRISTOPHE	ROUTE DE MARSEILLE	04000	DIGNE-LES-BAINS
00552017600016	HERNAS CARTONNAGE	50	RUE	PASTEUR		80210	FEUQUIERES-EN-VIMEU
00552017600032	HERNAS CARTONNAGE			ZONE DES HAYETTES		80210	CHEPY
00552024200016	PROSPA	3	RUE	DU 43 RIC		80510	LONGPRE-LES-CORPS-SAINTS
00552032500019	ETABLISSEMENTS ADRIEN RIQUIER	12	RUE	HENRI BARBUSSE		80570	DARGNIES
00554155200013	ETABLISSEMENTS BONNET FRERES			HOTEL DU VERDON		04370	BEAUVEZER
00554155200039	ETABLISSEMENTS BONNET FRERES			PISTE DE L'AIGUILLE		04260	ALLOS

==> source2.tsv <==
address	website	id	name
226 r Menthon, 01380 SAINT CYR SUR MENTHON			Sandrine Berny
50 rte Bage, 01380 SAINT CYR SUR MENTHON		84122632700010	Sarl Landrix Frères
120 r Menthon, 01380 SAINT CYR SUR MENTHON		79134582000025	Marion Kwasniewski
Moulin 28 chem RUILLAT, 01380 SAINT CYR SUR MENTHON			CLAUDE FONDATION
350 rte Loeze, 01380 SAINT CYR SUR MENTHON		43416176600010	Manigand Stéphane
41 r Centre, 01380 SAINT CYR SUR MENTHON	http://www.infirmiere-frederique-thevenard.fr	48854644100012	Frédérique Thévenard
116 chem Cochatieres, 01380 SAINT CYR SUR MENTHON		41811188600028	Garnier Xavier
Za 25 chem Mayer, 01380 SAINT CYR SUR MENTHON			Terre D'Alliances
420 chem Pavillon, 01380 SAINT CYR SUR MENTHON		49091202900025	Choquart Marc

### You may consider rows with the same `id` across different sources to be the same...

In [ ]:
722033800011

# Exploration

In [1]:
import numpy as np
import pandas as pd
import os
from collections import Counter

ROOT = os.getcwd()

In [35]:
source2 = pd.read_csv(os.path.join(ROOT, 'source2.csv'))
source2

,address,website,id,name
0,"226 r Menthon, 01380 SAINT CYR SUR MENTHON",NaN,NaN,Sandrine Berny
1,"50 rte Bage, 01380 SAINT CYR SUR MENTHON",NaN,8.412263e+13,Sarl Landrix Frères
2,"120 r Menthon, 01380 SAINT CYR SUR MENTHON",NaN,7.913458e+13,Marion Kwasniewski
3,"Moulin 28 chem RUILLAT, 01380 SAINT CYR SUR ME...",NaN,NaN,CLAUDE FONDATION
4,"350 rte Loeze, 01380 SAINT CYR SUR MENTHON",NaN,4.341618e+13,Manigand Stéphane
...,...,...,...,...
3530297,NaN,NaN,8.497810e+13,Jacoby O
3530298,"quart Guardère, 83150 BANDOL",http://agence.carrefourlocation.fr,NaN,Carrefour Location
3530299,"5 r Jardins, 83150 BANDOL",http://aquabike-en-mer.com,7.951850e+13,Calvet Richard
3530300,"54 traverse Laboureur, 83150 BANDOL",http://dolcefarnientebandol.com,5.392586e+13,Dolce Far Niente
3530301,"9 r Tonneliers, 83150 BANDOL",NaN,4.009196e+13,Cordonnerie Nouvelle

In [31]:
source2 = source2.astype({'id':'Int64'})
source2

,address,website,id,name
0,"226 r Menthon, 01380 SAINT CYR SUR MENTHON",NaN,<NA>,Sandrine Berny
1,"50 rte Bage, 01380 SAINT CYR SUR MENTHON",NaN,84122632700010,Sarl Landrix Frères
2,"120 r Menthon, 01380 SAINT CYR SUR MENTHON",NaN,79134582000025,Marion Kwasniewski
3,"Moulin 28 chem RUILLAT, 01380 SAINT CYR SUR ME...",NaN,<NA>,CLAUDE FONDATION
4,"350 rte Loeze, 01380 SAINT CYR SUR MENTHON",NaN,43416176600010,Manigand Stéphane
...,...,...,...,...
3530297,NaN,NaN,84978102600018,Jacoby O
3530298,"quart Guardère, 83150 BANDOL",http://agence.carrefourlocation.fr,<NA>,Carrefour Location
3530299,"5 r Jardins, 83150 BANDOL",http://aquabike-en-mer.com,79518496900025,Calvet Richard
3530300,"54 traverse Laboureur, 83150 BANDOL",http://dolcefarnientebandol.com,53925863200014,Dolce Far Niente
3530301,"9 r Tonneliers, 83150 BANDOL",NaN,40091957700025,Cordonnerie Nouvelle

In [10]:
from recordlinkage.preprocessing import clean

In [11]:
#s1_s2_commonids = s1_s2_commonids.drop('Unnamed: 0', axis=1)
s1_s2_commonids['name_x'] = clean(s1_s2_commonids['name_x'], strip_accents='unicode')
s1_s2_commonids['name_y'] = clean(s1_s2_commonids['name_y'], strip_accents='unicode')
s1_s2_commonids['street_name'] = clean(s1_s2_commonids['street_name'], strip_accents='unicode')
s1_s2_commonids['street_type'] = clean(s1_s2_commonids['street_type'], strip_accents='unicode')
s1_s2_commonids['address_line2'] = clean(s1_s2_commonids['address_line2'], strip_accents='unicode')
s1_s2_commonids['address'] = clean(s1_s2_commonids['address'], strip_accents='unicode')
s1_s2_commonids['city'] = clean(s1_s2_commonids['city'], strip_accents='unicode')
s1_s2_commonids

/home/thabib/anaconda3/envs/nlp_siddata/lib/python3.8/site-packages/recordlinkage/preprocessing/cleaning.py:114: FutureWarning: The default value of regex will change from True to False in a future version.
  s = s.str.replace(r'(\[.*?\]|\(.*?\)|\{.*?\})', '')
/home/thabib/anaconda3/envs/nlp_siddata/lib/python3.8/site-packages/recordlinkage/preprocessing/cleaning.py:118: FutureWarning: The default value of regex will change from True to False in a future version.
  s = s.str.replace(replace_by_none, '')
/home/thabib/anaconda3/envs/nlp_siddata/lib/python3.8/site-packages/recordlinkage/preprocessing/cleaning.py:121: FutureWarning: The default value of regex will change from True to False in a future version.
  s = s.str.replace(replace_by_whitespace, ' ')
/home/thabib/anaconda3/envs/nlp_siddata/lib/python3.8/site-packages/recordlinkage/preprocessing/cleaning.py:124: FutureWarning: The default value of regex will change from True to False in a future version.
  s = s.str.replace(r'\s\s+', ' ')

,id,name_x,street_number,street_type,street_name,address_line2,postal_code,city,address,website,name_y
0,542012000015,societe des sucreries du marquenterre,NaN,rue,de la fontaine,NaN,80120,rue,1 r la fontaine 80120 rue,NaN,sucreries du marquenterre sa
1,542012000031,societe des sucreries du marquenterre,NaN,rte,nationale,NaN,62140,marconnelle,rte nationale 62140 marconnelle,NaN,sucreries du marquenterre
2,552017600016,hernas cartonnage,50.0,rue,pasteur,NaN,80210,feuquieres en vimeu,50 r pasteur 80210 feuquieres en vimeu,http://www.hernas.fr,hernas cartonnage sas
3,552017600032,hernas cartonnage,NaN,NaN,zone des hayettes,NaN,80210,chepy,zi hayettes 80210 chepy,http://www.hernas.fr,hernas cartonnage
4,552024200016,prospa,3.0,rue,du 43 ric,NaN,80510,longpre les corps saints,3 r 43 ric 80510 longpre les corps saints,http://www.prospa.fr/,prospa
...,...,...,...,...,...,...,...,...,...,...,...
781300,99889300200118,entreprise jean perraud et fils,NaN,NaN,peuras,parc dactivite de,38210,tullins,441 av peuras 38210 tullins,http://www.groupeperraud.com,groupe perraud
781301,99889300200142,entreprise jean perraud et fils,19.0,av,victor hugo,NaN,38800,le pont de claix,19 av victor hugo 38800 le pont de claix,http://www.groupeperraud.com,groupe perraud
781302,99889340800018,bijouterie dorey freres,27.0,rue,jean jaures,NaN,42420,lorette,27 r jean jaures 42420 lorette,http://www.bijouterie-dorey.com,bijouterie dorey freres
781303,99891270300019,materiel electrique longovicien,NaN,rue,du pulventeux,NaN,54400,longwy,zi pulventeux 54400 longwy,NaN,mel paties mel materiel electrique
781304,99892210800076,etablissements laiti,NaN,rue,du maillet,centre commercial geric,57100,thionville,linkling 1 r maillet 57100 thionville,NaN,chaussures laiti

In [26]:
cols = list(s1_s2_commonids.columns)

# cols[:-1] = 'name_s2'
cols = ['id',
 'name_s1',
 'street_number',
 'street_type',
 'street_name',
 'address_line2',
 'postal_code',
 'city',
 'address',
 'website',
 'name_s2']

s1_s2_commonids.columns = cols

In [32]:
source2.to_csv('./source2.csv', index=False)

In [33]:
source2.to_csv('./source2.tsv', sep='\t', index=False)

In [ ]:
# DELETE ABOVE

In [2]:
source1 = pd.read_csv(os.path.join(ROOT, 'source1.csv'))
source2 = pd.read_csv(os.path.join(ROOT, 'source2.csv'))

In [146]:
display(source1)
len(source1)

s1 = source1
# 1826169 rows in source 1 with all unique IDs

,id,name,street_number,street_type,street_name,address_line2,postal_code,city
0,542012000015,SOCIETE DES SUCRERIES DU MARQUENTERRE,NaN,RUE,DE LA FONTAINE,NaN,80120,RUE
1,542012000031,SOCIETE DES SUCRERIES DU MARQUENTERRE,NaN,RTE,NATIONALE,NaN,62140,MARCONNELLE
2,545011900028,LE GRAND CAFE ET GASSENDI,NaN,NaN,SAINT CHRISTOPHE,ROUTE DE MARSEILLE,4000,DIGNE-LES-BAINS
3,552017600016,HERNAS CARTONNAGE,50.0,RUE,PASTEUR,NaN,80210,FEUQUIERES-EN-VIMEU
4,552017600032,HERNAS CARTONNAGE,NaN,NaN,ZONE DES HAYETTES,NaN,80210,CHEPY
...,...,...,...,...,...,...,...,...
1826164,90771119600010,BIONORMANDE,NaN,RUE,DE LA GRANDE FLANDRE,LOT 1 - 7 A,76270,NEUFCHATEL-EN-BRAY
1826165,90771120400012,AHELA BAT,18.0,RUE,SAINT CLEMENT,NaN,93200,SAINT-DENIS
1826166,90771121200015,DECO BATIMENT,7.0,RUE,AUGUSTE BLANQUI,NaN,93200,SAINT-DENIS
1826167,90760906900014,CHATEAUX MERVEILLES,15.0,RUE,DE MILAN,NaN,75009,PARIS 9
1826168,90760963000013,CAP-ARMADE,140.0,RUE,DE TOCQUEVILLE,NaN,75017,PARIS 17

In [135]:
source1['postal_code'].isnull().sum()

0

In [4]:
#source2['id'] = pd.to_numeric(source2['id'], errors='coerce').astype(np.NaN) #source2.fillna(np.nan, inplace=True)
display(source2.head(20))
len(source2)

# 3530302 rows in source2 with 1258224 NaN IDs – pd.isna(source2['id']).sum()
# 3530302 - 1258224 = 2272078 rows with proper IDs

,address,website,id,name
0,"226 r Menthon, 01380 SAINT CYR SUR MENTHON",NaN,NaN,Sandrine Berny
1,"50 rte Bage, 01380 SAINT CYR SUR MENTHON",NaN,8.412263e+13,Sarl Landrix Frères
2,"120 r Menthon, 01380 SAINT CYR SUR MENTHON",NaN,7.913458e+13,Marion Kwasniewski
3,"Moulin 28 chem RUILLAT, 01380 SAINT CYR SUR ME...",NaN,NaN,CLAUDE FONDATION
4,"350 rte Loeze, 01380 SAINT CYR SUR MENTHON",NaN,4.341618e+13,Manigand Stéphane
5,"41 r Centre, 01380 SAINT CYR SUR MENTHON",http://www.infirmiere-frederique-thevenard.fr,4.885464e+13,Frédérique Thévenard
6,"116 chem Cochatieres, 01380 SAINT CYR SUR MENTHON",NaN,4.181119e+13,Garnier Xavier
7,"Za 25 chem Mayer, 01380 SAINT CYR SUR MENTHON",NaN,NaN,Terre D'Alliances
8,"420 chem Pavillon, 01380 SAINT CYR SUR MENTHON",NaN,4.909120e+13,Choquart Marc
9,"Chanelet, 01380 SAINT CYR SUR MENTHON",NaN,NaN,Goujon Nicolas
10,"26 r Pasteur, 02850 BARZY SUR MARNE",NaN,NaN,Rabiat Alain
11,"19 pass Ecoles, 01380 SAINT CYR SUR MENTHON",NaN,NaN,Mairie
12,"860 rte Mâcon, 01380 SAINT CYR SUR MENTHON",http://www.peugeot.fr/,4.832794e+13,Garage Montbarbon
13,"226 r Menthon, 01380 SAINT CYR SUR MENTHON",NaN,NaN,Isabelle Alban
14,"6 pl Dom Perignon, 02850 BARZY SUR MARNE",http://cocteau.site-solocal.com,4.207493e+13,Champagne Jean Cocteau & Fils
15,"612 lieu-dit Deschamps, 01380 SAINT CYR SUR ME...",http://bruno-magnetiseur.weebly.com,4.405862e+13,Bruno Berthet
16,"les Druillets 99 chem Cochatieres, 01380 SAINT...",http://www.assurancemarechal.fr,NaN,Marechal Demars Anne
17,"50 rte Loeze, 01380 SAINT CYR SUR MENTHON",http://www.capanel.fr,4.793428e+13,SARL Capanel
18,"13 r St Leu Marcilly, 02850 BARZY SUR MARNE",NaN,5.046992e+13,Husson Petitbon Jean
19,"151 rte Chanelet, 01380 SAINT CYR SUR MENTHON",NaN,4.344290e+13,Des Chanelets GAEC

3530302

In [132]:
source2['name'].isnull().sum()

18

In [7]:
# Coverting float IDs to Int64 (pandas type)
s2 = source2.astype({'id': 'Int64'})
display(s2)

,address,website,id,name
0,"226 r Menthon, 01380 SAINT CYR SUR MENTHON",NaN,<NA>,Sandrine Berny
1,"50 rte Bage, 01380 SAINT CYR SUR MENTHON",NaN,84122632700010,Sarl Landrix Frères
2,"120 r Menthon, 01380 SAINT CYR SUR MENTHON",NaN,79134582000025,Marion Kwasniewski
3,"Moulin 28 chem RUILLAT, 01380 SAINT CYR SUR ME...",NaN,<NA>,CLAUDE FONDATION
4,"350 rte Loeze, 01380 SAINT CYR SUR MENTHON",NaN,43416176600010,Manigand Stéphane
...,...,...,...,...
3530297,NaN,NaN,84978102600018,Jacoby O
3530298,"quart Guardère, 83150 BANDOL",http://agence.carrefourlocation.fr,<NA>,Carrefour Location
3530299,"5 r Jardins, 83150 BANDOL",http://aquabike-en-mer.com,79518496900025,Calvet Richard
3530300,"54 traverse Laboureur, 83150 BANDOL",http://dolcefarnientebandol.com,53925863200014,Dolce Far Niente
3530301,"9 r Tonneliers, 83150 BANDOL",NaN,40091957700025,Cordonnerie Nouvelle

### Removing all entries with NaN IDs from source2 and also removing all duplicate rows

In [10]:
s2_nond = s2.dropna(subset=['id']).drop_duplicates()
display(s2_nond)

,address,website,id,name
1,"50 rte Bage, 01380 SAINT CYR SUR MENTHON",NaN,84122632700010,Sarl Landrix Frères
2,"120 r Menthon, 01380 SAINT CYR SUR MENTHON",NaN,79134582000025,Marion Kwasniewski
4,"350 rte Loeze, 01380 SAINT CYR SUR MENTHON",NaN,43416176600010,Manigand Stéphane
5,"41 r Centre, 01380 SAINT CYR SUR MENTHON",http://www.infirmiere-frederique-thevenard.fr,48854644100012,Frédérique Thévenard
6,"116 chem Cochatieres, 01380 SAINT CYR SUR MENTHON",NaN,41811188600028,Garnier Xavier
...,...,...,...,...
3530296,"2 av Château, 83150 BANDOL",NaN,30130663500097,Carlot Jean-François
3530297,NaN,NaN,84978102600018,Jacoby O
3530299,"5 r Jardins, 83150 BANDOL",http://aquabike-en-mer.com,79518496900025,Calvet Richard
3530300,"54 traverse Laboureur, 83150 BANDOL",http://dolcefarnientebandol.com,53925863200014,Dolce Far Niente
3530301,"9 r Tonneliers, 83150 BANDOL",NaN,40091957700025,Cordonnerie Nouvelle

In [13]:
len(np.unique(s2_nond['id']))

2270350

__There are only 2270350 unique IDs in source2 and the remaining 1012 (=2271362 - 2270350) IDs must, therefore, be repititions__

In [53]:
s2nond_uids, s2nond_uids_counts = np.unique(np.array(s2_nond['id']), return_counts=True)
duplicates = s2nond_uids[s2nond_uids_counts > 1]
display(duplicates)
display(len(duplicates))

Counter(s2nond_uids_counts)

array([6480115200089, 7692068500039, 13002792300049, ..., 95750393100561,
       99785860000023, 99882350414085], dtype=object)

1011

Counter({1: 2269339, 2: 1010, 3: 1})

_There are 1010 unique IDs that are repeated twice and 1 unique ID is repeated thrice._

In [54]:
# IDs repeated twice
display(s2nond_uids[np.where(s2nond_uids_counts==2)])
# IDs repeated thrice
display(s2nond_uids[np.where(s2nond_uids_counts==3)])

array([6480115200089, 7692068500039, 13002792300049, ..., 95750393100561,
       99785860000023, 99882350414085], dtype=object)

array([38990291700019], dtype=object)

#### How many repeated rows are there in source2 with NAN IDs?

In [110]:
#s2_nod = s2.drop_duplicates()
s2_nanid = s2[~s2.isin(s2_nond)].dropna(how='all')#.drop_duplicates()
s2_nod_nanid = s2_nanid.drop_duplicates()

#del s2_nod
display(s2_nanid)
display(s2_nod_nanid)

,address,website,id,name
0,"226 r Menthon, 01380 SAINT CYR SUR MENTHON",NaN,<NA>,Sandrine Berny
3,"Moulin 28 chem RUILLAT, 01380 SAINT CYR SUR ME...",NaN,<NA>,CLAUDE FONDATION
7,"Za 25 chem Mayer, 01380 SAINT CYR SUR MENTHON",NaN,<NA>,Terre D'Alliances
9,"Chanelet, 01380 SAINT CYR SUR MENTHON",NaN,<NA>,Goujon Nicolas
10,"26 r Pasteur, 02850 BARZY SUR MARNE",NaN,<NA>,Rabiat Alain
...,...,...,...,...
3530277,"39 Ter r Doct Louis Marçon, 83150 BANDOL",NaN,<NA>,Compagnie Mediterraneenne Des Multicoques De C...
3530278,"66 r Lamartine, 83150 BANDOL",NaN,<NA>,Chaux Pierre-Yves
3530287,"Les Cotx St Mar r Jean Jaurès, 83150 BANDOL",NaN,<NA>,Corbeau Marie-Pierre
3530288,"7 r Vincent Allègre, 83150 BANDOL",http://heleneguermeur-psychologue.com,<NA>,Guermeur Hélène
3530298,"quart Guardère, 83150 BANDOL",http://agence.carrefourlocation.fr,<NA>,Carrefour Location

,address,website,id,name
0,"226 r Menthon, 01380 SAINT CYR SUR MENTHON",NaN,<NA>,Sandrine Berny
3,"Moulin 28 chem RUILLAT, 01380 SAINT CYR SUR ME...",NaN,<NA>,CLAUDE FONDATION
7,"Za 25 chem Mayer, 01380 SAINT CYR SUR MENTHON",NaN,<NA>,Terre D'Alliances
9,"Chanelet, 01380 SAINT CYR SUR MENTHON",NaN,<NA>,Goujon Nicolas
10,"26 r Pasteur, 02850 BARZY SUR MARNE",NaN,<NA>,Rabiat Alain
...,...,...,...,...
3530277,"39 Ter r Doct Louis Marçon, 83150 BANDOL",NaN,<NA>,Compagnie Mediterraneenne Des Multicoques De C...
3530278,"66 r Lamartine, 83150 BANDOL",NaN,<NA>,Chaux Pierre-Yves
3530287,"Les Cotx St Mar r Jean Jaurès, 83150 BANDOL",NaN,<NA>,Corbeau Marie-Pierre
3530288,"7 r Vincent Allègre, 83150 BANDOL",http://heleneguermeur-psychologue.com,<NA>,Guermeur Hélène
3530298,"quart Guardère, 83150 BANDOL",http://agence.carrefourlocation.fr,<NA>,Carrefour Location

In [83]:
1257964 + 2271362

3529326

In [84]:
s2_ = s2.drop_duplicates()
display(s2_)

,address,website,id,name
0,"226 r Menthon, 01380 SAINT CYR SUR MENTHON",NaN,<NA>,Sandrine Berny
1,"50 rte Bage, 01380 SAINT CYR SUR MENTHON",NaN,84122632700010,Sarl Landrix Frères
2,"120 r Menthon, 01380 SAINT CYR SUR MENTHON",NaN,79134582000025,Marion Kwasniewski
3,"Moulin 28 chem RUILLAT, 01380 SAINT CYR SUR ME...",NaN,<NA>,CLAUDE FONDATION
4,"350 rte Loeze, 01380 SAINT CYR SUR MENTHON",NaN,43416176600010,Manigand Stéphane
...,...,...,...,...
3530297,NaN,NaN,84978102600018,Jacoby O
3530298,"quart Guardère, 83150 BANDOL",http://agence.carrefourlocation.fr,<NA>,Carrefour Location
3530299,"5 r Jardins, 83150 BANDOL",http://aquabike-en-mer.com,79518496900025,Calvet Richard
3530300,"54 traverse Laboureur, 83150 BANDOL",http://dolcefarnientebandol.com,53925863200014,Dolce Far Niente
3530301,"9 r Tonneliers, 83150 BANDOL",NaN,40091957700025,Cordonnerie Nouvelle

In [107]:
other_ids_s2 = []
for idx, i in enumerate(s2['id']):
    if type(i) is np.int64 or type(i) is pd._libs.missing.NAType:
        continue
    else:
        other_ids_s2.append(i)

In [108]:
other_ids_s2

[]

### Checking if the entries are the same for IDs that are repeated (it is given above that they can be considered the same)

In [57]:
s2_nond[s2_nond['id'] == 99785860000023]

,address,website,id,name
2255547,"Rte de Remalard lieu-dit Tuilot, 61400 MORTAGN...",http://www.intermarche.com/home.html,99785860000023,Intermarché station-service
2255597,"Rte de Remalard lieu-dit Tuilot, 61400 MORTAGN...",NaN,99785860000023,Intermarché

In [58]:
s2_nond[s2_nond['id'] == 6480115200089]

,address,website,id,name
655852,"Parc Du Banian 75 montée St Menet, 13011 MARSE...",http://www.fidecompta.fr,6480115200089,Fidecompta
655899,"75 montée St Menet, 13011 MARSEILLE",NaN,6480115200089,Fiduciaire Expertise Comptable

In [56]:
s2_nond[s2_nond['id'] == 38990291700019]

,address,website,id,name
346816,"av Bamberg, 12000 RODEZ",https://location.intermarche.com/site/,38990291700019,Intermarché location Rodez
503674,"av Bamberg, 12000 RODEZ",https://location.intermarche.com,38990291700019,Intermarché location Rodez
566976,"av Bamberg, 12000 RODEZ",http://www.intermarche.com/home.html,38990291700019,Intermarché Super

#### Constructing a dictionary with counter for each unique IDs number of occurences

In [16]:
dict_ids_counts = Counter(np.array(s2_nond['id']))


# Put IDs with 2 or more occurences in a list
s2nond_rep_ids = []
for k,v in dict_ids_counts.items():
    if v == 2 or v==3:
        s2nond_rep_ids.append(k)

### Checking how many of these repeating IDs from 's2_nond' are in 's1'

In [17]:
s2nond_rep_ids_in_s1, _ , s1_rep_idx = np.intersect1d(s2nond_rep_ids, s1['id'], return_indices=True)

In [18]:
display(s2nond_rep_ids_in_s1)
len(s1_rep_idx)

array([ 6480115200089,  7692068500039, 19762093300014, 20005562200084,
       20005684400521, 21050036900017, 21100117700057, 21130077700177,
       21130102300126, 21170415000187, 21250370000032, 21250453400042,
       21260148800043, 21260165200010, 21260170200039, 21260252800136,
       21270375500166, 21270562800023, 21280005600013, 21280051000027,
       21280358900028, 21280380300023, 21280387800025, 21290233200098,
       21290262100011, 21300008600024, 21310104100027, 21310375700091,
       21310396300020, 21310424300034, 21310495300020, 21310587700012,
       21320117100021, 21320160100027, 21330003100035, 21330029600026,
       21330153400029, 21330357100029, 21360182600059, 21380006300017,
       21440143200064, 21490223100148, 21510185800029, 21510602200241,
       21510614700022, 21590158800016, 21740133000030, 21760157400114,
       21760157400239, 21780015000096, 21780123200083, 21780123200133,
       21780380800062, 21830086100034, 21860093000018, 22720002900055,
       24380060400247, 26210006800135, 26250639700013, 26330585600100,
       26400428400016, 26800001500027, 30076001400013, 30238205600034,
       30510890400072, 30587411700719, 30860060000032, 30890964700098,
       31030753300052, 31092346100050, 31127440100042, 31159539100021,
       31221230101169, 31221230101375, 31221230101565, 31298918900047,
       31623785800030, 31635916500024, 31650243400061, 31656995300011,
       31797710600044, 32095539602401, 32280302400015, 32319110600091,
       32319110600216, 32319110600257, 32319110600281, 32364952500678,
       32394657400148, 32400636000014, 32412794300037, 32829778300032,
       32838702200119, 32886275000010, 32936852600078, 32965269700023,
       33016066400026, 33041402000090, 33120277000037, 33252208500015,
       33257574500051, 33327640000012, 33448729500035, 33478079800057,
       33535371000023, 33806142700021, 33870225100012, 33973998900020,
       33983567000029, 34002681400012, 34183384600015, 34286754600075,
       34310503700026, 34316377000773, 34317222700013, 34481006400065,
       34844945500016, 34951600500015, 35005058900141, 35012675100030,
       35043122700049, 35043410600018, 35098947100056, 35110069800072,
       35148032200046, 35148032200053, 35189154400014, 35248334101387,
       35267089700052, 35286063901494, 37821706100019, 37827503600036,
       37870918200026, 37898762200040, 37919237000011, 38040246100020,
       38069749000015, 38103128500392, 38151096500019, 38288796600010,
       38328411400121, 38378324800016, 38456094201514, 38479458200013,
       38491789400113, 38491789400139, 38491789400162, 38491789400204,
       38499569200025, 38524664000028, 38844530600029, 38855028700022,
       38864958400025, 38876041500132, 38990291700019, 39014268500028,
       39025932300025, 39028827200029, 39032517300016, 39075119600010,
       39122573700017, 39220545600057, 39245460900018, 39305588400042,
       39335331300017, 39447322700087, 39452972100026, 39904770300026,
       39942033000017, 39963914500024, 39971637200111, 39979331400028,
       39998309700029, 39998309700094, 39998309700136, 40039567900030,
       40057839900018, 40087862500013, 40144985501277, 40199487600035,
       40513630000028, 40537147700028, 40778697900028, 40904063100015,
       40917246700048, 40970490500051, 41040946000418, 41042974000047,
       41058110200010, 41080571700064, 41095599100022, 41404607800021,
       41817456100021, 41876583000017, 41892309000058, 42000191900026,
       42006305900042, 42058478100025, 42075316200031, 42089141800030,
       42297329700027, 42485508800029, 42826802302800, 43206423600016,
       43358526200010, 43395470800015, 43433773900032, 43485775100037,
       43780779502166, 43798700100256, 43923987200039, 43952409100022,
       43974796500036, 44019097300030, 44028375204699, 44028375208021,
       44077981700020, 44098873100012, 44099425900024, 44143557500010,
       44427276900019, 44433897400017, 44531765400017, 44763386800016,
       44781860001695, 44816710600039, 44847484100096, 44869361400035,
       44892572700019, 44908510900014, 44978408100050, 45125532700012,
       45278574400049, 45294729400024, 45304702900021, 45365695100010,
       45379998300011, 47759378400044, 47761361600028, 47886315200037,
       48005785000012, 48012683800022, 48076817500022, 48077477700019,
       48098029100029, 48118377000017, 48341172400030, 48408720000016,
       48457063500017, 48755651600028, 48771548400035, 48903318300018,
       49046253800029, 49060897300015, 49101188800014, 49112622300032,
       49278795701874, 49278795701932, 49278795702450, 49278795703656,
       49304865600018, 49359547400021, 49366768700021, 49776898600018,
       49779500500048, 49909801000014, 49945893300029, 50079540600031,
       50139585900017, 50145542200037, 50164220100013, 50219146300012,
       50288916500028, 50329266600016, 50471289400022, 50532395600019,
       50739068000019, 50794591300022, 50815360800031, 50838691900031,
       50878545800011, 50949819200020, 50994953300012, 51018417900016,
       51032614300037, 51086289900018, 51139668100013, 51288277000039,
       51398752900023, 51414305600059, 51502641700052, 51795159600025,
       51849902500030, 51883254800011, 51891298500158, 51902994600026,
       51929481300018, 52187243200013, 52422675000015, 52423215400079,
       52431371500012, 52477029400204, 52750222300029, 52829615500039,
       52867421100016, 52870214500038, 53063610900049, 53071942600013,
       53143519600021, 53166152800038, 53170888100010, 53296176000024,
       53381068500016, 53408512100018, 53409563300028, 53442266200021,
       53801688200010, 53855987300038, 53864775100022, 53865000300014,
       57555109800032, 59552046100061, 59628032100016, 59635009000012,
       68850095800014, 74993591200016, 75147510400012, 75149573000010,
       75209247800037, 75299155400011, 75407239500017, 77514003100011,
       77566008703967, 77591588700142, 77705342200039, 77856182900038,
       77856182900103, 77999875600141, 78542040700070, 78692030600911,
       78803972500023, 78862828700013, 78888920200024, 78891529600024,
       78982323400016, 79059534200011, 79068210800044, 79101532400019,
       79142579600020, 79143020000018, 79202807800022, 79251547000021,
       79334437500019, 79346274800021, 79429334000020, 79490900200014,
       79799407600082, 79829827900026, 79880165000051, 80005425600014,
       80151799600030, 80190459000032, 80395133400017, 80851534000038,
       80854867100011, 80907941100025, 81070724000034, 81088091400017,
       81159875400026, 81193405800025, 81236036000018, 81271200800018,
       81295374300026, 81473416600030, 81499916500032, 81740184700022,
       81891030900017, 81893979500022, 81987454600024, 82065127100018,
       82126101300022, 82261269300017, 82272117100038, 82345746000017,
       82347028100010, 82448224400020, 82777744200027, 82895426300012,
       83083568200014, 83236207300013, 83236211500012, 83251942500017,
       83359557200011, 83412407500013, 83412623700017, 83415751300765,
       83520571700019, 83525544900018, 83764348500019, 83812063200024,
       83857469700010, 83881940700019, 83922205600013, 83971410200010,
       84066280300013, 84088940600012, 84100310600025, 84177121500016,
       84186212100016, 84238156800018, 84374911000014, 84759985900018,
       84928280100018, 85010707900012, 85177906600014, 85317676600014,
       85320667000012, 94575073500173, 95750393100561, 99785860000023,
       99882350414085])

421

In [80]:
display(s1[s1['id']==38990291700019])
display(s2_nond[s2_nond['id']==38990291700019])

,id,name,street_number,street_type,street_name,address_line2,postal_code,city
426935,38990291700019,JANELI,NaN,AV,DE BAMBERG,NaN,12000,RODEZ

,address,website,id,name
346816,"av Bamberg, 12000 RODEZ",https://location.intermarche.com/site/,38990291700019,Intermarché location Rodez
503674,"av Bamberg, 12000 RODEZ",https://location.intermarche.com,38990291700019,Intermarché location Rodez
566976,"av Bamberg, 12000 RODEZ",http://www.intermarche.com/home.html,38990291700019,Intermarché Super

In [90]:
id_ = 40087862500013
display(s1[s1['id']==id_])
display(s2_nond[s2_nond['id']==id_])

,id,name,street_number,street_type,street_name,address_line2,postal_code,city
481691,40087862500013,CENTRE DE CONTROLE TECHNIQUE DE LANN SEVELIN,NaN,RUE,JEAN BAPTISTE MARTENOT,ZI DE LANN SEVELIN,56850,CAUDAN

,address,website,id,name
1986022,Zone Industrielle De Lann Sevelin r Jean Bapti...,NaN,40087862500013,CENTRE CONTROLE TECHNIQUE LANN SEVELIN
1986538,"350 r Jean Baptiste Martenot, 56850 CAUDAN",NaN,40087862500013,Contrôle Technique Lann Sévelin Kerpont

In [93]:
s2_nond.loc[1986022]['address']

'Zone Industrielle De Lann Sevelin r Jean Baptiste Martenot, 56850 CAUDAN'

In [58]:
id_ = 84238156800018
display(s1[s1['id']==id_])
display(s2_nond[s2_nond['id']==id_])

,id,name,street_number,street_type,street_name,address_line2,postal_code,city
1641863,84238156800018,SARL JYS,53.0,RUE,CESAR LENOIR,NaN,50340,SIOUVILLE-HAGUE

,address,website,id,name
1885389,"53 r Cesar Lenoir, 50340 SIOUVILLE HAGUE",NaN,84238156800018,SARL JYS
1885421,"53 r Cesar Lenoir, 50340 SIOUVILLE HAGUE",http://fr-fr.facebook.com/pages/category/Ice-C...,84238156800018,Croquez Moi

In [59]:
id_ = 75147510400012
display(s1[s1['id']==id_])
display(s2_nond[s2_nond['id']==id_])

,id,name,street_number,street_type,street_name,address_line2,postal_code,city
1159164,75147510400012,OPTIQUE MEDICALE,52.0,AV,GEOFFROY PERRET,NaN,30210,REMOULINS

,address,website,id,name
973460,"52 av Geoffroy Perret, 30210 REMOULINS",NaN,75147510400012,Optique Medicale Melle Chamand Celin
973884,"52 av Geoffroy Perret, 30210 REMOULINS",http://optiquemedicale.site-solocal.com,75147510400012,Optique Médicale - Vision et audition

### Checking how many IDs from 's2_nond' are in 's1'

In [138]:
s2nond_ids_in_s1, s1_idx , s2nond_idx = np.intersect1d(s1['id'], s2_nond['id'], return_indices=True)

In [139]:
display(s2nond_ids_in_s1)
len(s1_idx)

array([542012000015, 542012000031, 552017600016, ..., 99889340800018,
       99891270300019, 99892210800076], dtype=object)

780883

#### Creating a dataframe of common IDs

In [137]:
s1_s2_commonids = pd.merge(s1, s2_nond, on='id').dropna(subset=['id'])
display(s1_s2_commonids)

,id,name_x,street_number,street_type,street_name,address_line2,postal_code,city,address,website,name_y
0,542012000015,SOCIETE DES SUCRERIES DU MARQUENTERRE,NaN,RUE,DE LA FONTAINE,NaN,80120,RUE,"1 r la Fontaine, 80120 RUE",NaN,Sucreries du Marquenterre SA
1,542012000031,SOCIETE DES SUCRERIES DU MARQUENTERRE,NaN,RTE,NATIONALE,NaN,62140,MARCONNELLE,"rte Nationale, 62140 MARCONNELLE",NaN,Sucreries du Marquenterre
2,552017600016,HERNAS CARTONNAGE,50.0,RUE,PASTEUR,NaN,80210,FEUQUIERES-EN-VIMEU,"50 r Pasteur, 80210 FEUQUIÈRES EN VIMEU",http://www.hernas.fr,Hernas Cartonnage SAS
3,552017600032,HERNAS CARTONNAGE,NaN,NaN,ZONE DES HAYETTES,NaN,80210,CHEPY,"zi Hayettes, 80210 CHÉPY",http://www.hernas.fr,Hernas Cartonnage
4,552024200016,PROSPA,3.0,RUE,DU 43 RIC,NaN,80510,LONGPRE-LES-CORPS-SAINTS,"3 r 43 Ric, 80510 LONGPRÉ LES CORPS SAINTS",http://www.prospa.fr/,Prospa
...,...,...,...,...,...,...,...,...,...,...,...
781300,99889300200118,ENTREPRISE JEAN PERRAUD ET FILS,NaN,NaN,PEURAS,PARC D'ACTIVITE DE,38210,TULLINS,"441 av Peuras, 38210 TULLINS",http://www.groupeperraud.com,Groupe Perraud
781301,99889300200142,ENTREPRISE JEAN PERRAUD ET FILS,19.0,AV,VICTOR HUGO,NaN,38800,LE PONT-DE-CLAIX,"19 av Victor Hugo, 38800 LE PONT DE CLAIX",http://www.groupeperraud.com,Groupe Perraud
781302,99889340800018,BIJOUTERIE DOREY FRERES,27.0,RUE,JEAN JAURES,NaN,42420,LORETTE,"27 r Jean Jaurès, 42420 LORETTE",http://www.bijouterie-dorey.com,Bijouterie Dorey Frères
781303,99891270300019,MATERIEL ELECTRIQUE LONGOVICIEN,NaN,RUE,DU PULVENTEUX,NaN,54400,LONGWY,"zi Pulventeux, 54400 LONGWY",NaN,Mel - Patiès M.E.L Matériel Electrique
781304,99892210800076,ETABLISSEMENTS LAITI,NaN,RUE,DU MAILLET,CENTRE COMMERCIAL GERIC,57100,THIONVILLE,"Linkling 1 r Maillet, 57100 THIONVILLE",NaN,Chaussures Laiti

In [143]:
781305-780883

422

In [140]:
s1_s2_commonids['id'].isnull().sum()

0

In [142]:
len(np.unique(s1_s2_commonids['id']))

780883

### Counting NANs in columns of source1 and 2

In [35]:
s1['city'].isnull().sum()

0

### Counting full address (no NANs in any address field) in source1

In [38]:
s1_fulladdress = s1.dropna(subset=['street_number', 'street_type', 'street_name', 'address_line2'])
s1_fulladdress

,id,name,street_number,street_type,street_name,address_line2,postal_code,city
19,568014500017,PROMENS MONTOIR DE BRETAGNE SAS,73.0,RUE,HENRI GAUTIER,"""LA PROVIDENCE""",44550,MONTOIR-DE-BRETAGNE
29,572078400148,ETABLISSEMENTS DECAYEUX,1.0,IMP,NICEPHORE NIEPCE,ZA CHARLES DE GAULLE,93290,TREMBLAY-EN-FRANCE
30,572078400155,ETABLISSEMENTS DECAYEUX,7.0,RUE,DES SARCELLES,ZONE INDUSTRIELLE,80100,ABBEVILLE
42,578096000109,SOCIETE IMMOBILIERE TOURISTIQUE ET HOTELIERE D...,5.0,ESP,FRANCOIS ANDRE,SUR PLAGE FACE HOTEL HERMITAGE,44500,LA BAULE-ESCOUBLAC
46,582037800031,ENTREPRISE DEMOUSELLE,140.0,RUE,DU CHATEAU D EAU,ZONE INDUSTRIELLE,80100,ABBEVILLE
...,...,...,...,...,...,...,...,...
1826064,90771049500017,GIPSY,10.0,RUE,DE TREVISE,10-12,75009,PARIS 9
1826065,90771050300018,MEYYARTIST PARIS,76.0,AV,DES CHAMPS ELYSEES,76-78,75008,PARIS 8
1826085,90771083400017,LARC BATISSEUR,15.0,AV,FERNAND CHATELAIN,BATIMENT SUNSET PORTE 4,95610,ERAGNY
1826150,90771098200014,LAPOLEONE PUBLISHING,4.0,RUE,GALILEE,4-6,75116,PARIS 16
1826160,90771111300023,CABINET DU DOCTEUR ARNAUD ALLUIN,199.0,RUE,DE LA RIANDERIE,CLINIQUE DU SPORT ET DE CHIRURGIE,59700,MARCQ-EN-BAROEUL

# Writing to disk

In [112]:
s2_nond.to_csv('./source2_nonanids_nod.tsv', sep='\t')

In [113]:
s2_nond_ = pd.read_csv(os.path.join(ROOT, 'source2_nonanids_nod.tsv'), sep='\t')
display(s2_nond_)

,Unnamed: 0,address,website,id,name
0,1,"50 rte Bage, 01380 SAINT CYR SUR MENTHON",NaN,84122632700010,Sarl Landrix Frères
1,2,"120 r Menthon, 01380 SAINT CYR SUR MENTHON",NaN,79134582000025,Marion Kwasniewski
2,4,"350 rte Loeze, 01380 SAINT CYR SUR MENTHON",NaN,43416176600010,Manigand Stéphane
3,5,"41 r Centre, 01380 SAINT CYR SUR MENTHON",http://www.infirmiere-frederique-thevenard.fr,48854644100012,Frédérique Thévenard
4,6,"116 chem Cochatieres, 01380 SAINT CYR SUR MENTHON",NaN,41811188600028,Garnier Xavier
...,...,...,...,...,...
2271357,3530296,"2 av Château, 83150 BANDOL",NaN,30130663500097,Carlot Jean-François
2271358,3530297,NaN,NaN,84978102600018,Jacoby O
2271359,3530299,"5 r Jardins, 83150 BANDOL",http://aquabike-en-mer.com,79518496900025,Calvet Richard
2271360,3530300,"54 traverse Laboureur, 83150 BANDOL",http://dolcefarnientebandol.com,53925863200014,Dolce Far Niente
2271361,3530301,"9 r Tonneliers, 83150 BANDOL",NaN,40091957700025,Cordonnerie Nouvelle

In [119]:
s2_nod_nanid.to_csv('./source2_nanids_nod.tsv', sep='\t')

In [120]:
s2_nod_nanid_ = pd.read_csv(os.path.join(ROOT, 'source2_nanids_nod.tsv'), sep='\t')
display(s2_nod_nanid_)

,Unnamed: 0,address,website,id,name
0,0,"226 r Menthon, 01380 SAINT CYR SUR MENTHON",NaN,NaN,Sandrine Berny
1,3,"Moulin 28 chem RUILLAT, 01380 SAINT CYR SUR ME...",NaN,NaN,CLAUDE FONDATION
2,7,"Za 25 chem Mayer, 01380 SAINT CYR SUR MENTHON",NaN,NaN,Terre D'Alliances
3,9,"Chanelet, 01380 SAINT CYR SUR MENTHON",NaN,NaN,Goujon Nicolas
4,10,"26 r Pasteur, 02850 BARZY SUR MARNE",NaN,NaN,Rabiat Alain
...,...,...,...,...,...
1257959,3530277,"39 Ter r Doct Louis Marçon, 83150 BANDOL",NaN,NaN,Compagnie Mediterraneenne Des Multicoques De C...
1257960,3530278,"66 r Lamartine, 83150 BANDOL",NaN,NaN,Chaux Pierre-Yves
1257961,3530287,"Les Cotx St Mar r Jean Jaurès, 83150 BANDOL",NaN,NaN,Corbeau Marie-Pierre
1257962,3530288,"7 r Vincent Allègre, 83150 BANDOL",http://heleneguermeur-psychologue.com,NaN,Guermeur Hélène
1257963,3530298,"quart Guardère, 83150 BANDOL",http://agence.carrefourlocation.fr,NaN,Carrefour Location

In [144]:
s1_s2_commonids.to_csv('./s1_s2_commonids.tsv', sep='\t')

In [145]:
s1_s2_commonids_ = pd.read_csv(os.path.join(ROOT, 's1_s2_commonids.tsv'), sep='\t')
display(s1_s2_commonids_)

,Unnamed: 0,id,name_x,street_number,street_type,street_name,address_line2,postal_code,city,address,website,name_y
0,0,542012000015,SOCIETE DES SUCRERIES DU MARQUENTERRE,NaN,RUE,DE LA FONTAINE,NaN,80120,RUE,"1 r la Fontaine, 80120 RUE",NaN,Sucreries du Marquenterre SA
1,1,542012000031,SOCIETE DES SUCRERIES DU MARQUENTERRE,NaN,RTE,NATIONALE,NaN,62140,MARCONNELLE,"rte Nationale, 62140 MARCONNELLE",NaN,Sucreries du Marquenterre
2,2,552017600016,HERNAS CARTONNAGE,50.0,RUE,PASTEUR,NaN,80210,FEUQUIERES-EN-VIMEU,"50 r Pasteur, 80210 FEUQUIÈRES EN VIMEU",http://www.hernas.fr,Hernas Cartonnage SAS
3,3,552017600032,HERNAS CARTONNAGE,NaN,NaN,ZONE DES HAYETTES,NaN,80210,CHEPY,"zi Hayettes, 80210 CHÉPY",http://www.hernas.fr,Hernas Cartonnage
4,4,552024200016,PROSPA,3.0,RUE,DU 43 RIC,NaN,80510,LONGPRE-LES-CORPS-SAINTS,"3 r 43 Ric, 80510 LONGPRÉ LES CORPS SAINTS",http://www.prospa.fr/,Prospa
...,...,...,...,...,...,...,...,...,...,...,...,...
781300,781300,99889300200118,ENTREPRISE JEAN PERRAUD ET FILS,NaN,NaN,PEURAS,PARC D'ACTIVITE DE,38210,TULLINS,"441 av Peuras, 38210 TULLINS",http://www.groupeperraud.com,Groupe Perraud
781301,781301,99889300200142,ENTREPRISE JEAN PERRAUD ET FILS,19.0,AV,VICTOR HUGO,NaN,38800,LE PONT-DE-CLAIX,"19 av Victor Hugo, 38800 LE PONT DE CLAIX",http://www.groupeperraud.com,Groupe Perraud
781302,781302,99889340800018,BIJOUTERIE DOREY FRERES,27.0,RUE,JEAN JAURES,NaN,42420,LORETTE,"27 r Jean Jaurès, 42420 LORETTE",http://www.bijouterie-dorey.com,Bijouterie Dorey Frères
781303,781303,99891270300019,MATERIEL ELECTRIQUE LONGOVICIEN,NaN,RUE,DU PULVENTEUX,NaN,54400,LONGWY,"zi Pulventeux, 54400 LONGWY",NaN,Mel - Patiès M.E.L Matériel Electrique
781304,781304,99892210800076,ETABLISSEMENTS LAITI,NaN,RUE,DU MAILLET,CENTRE COMMERCIAL GERIC,57100,THIONVILLE,"Linkling 1 r Maillet, 57100 THIONVILLE",NaN,Chaussures Laiti

# EDA Summary

__For Source1__

1. Total rows = 1826169
2. Unique rows = 1826169
3. Rows with non-NAN IDs = 1826169
4. Rows with unique non-NAN IDs = 1826169


5. NANs in 'name' = 2
6. Full addresses (no NANs in any of the address fields) = 270690




__For Source2__
1. Total rows = 3530302
2. Unique rows = 3528618 
3. Rows with non-NAN IDs = 2272078 
4. Rows with NAN IDs = 1257964
5. Rows left after removing duplicate rows and NAN IDs = 2271362. 
6. Rows with unique non-NAN IDs = 2270350.
7. Number of rows with repetitions of IDs = 2271362-2270350 = 1012 _{1010 IDs repeating twice, 1 ID repeating thrice}_


(For s2_nond)

8. NANs in 'address' = 10448, with 754 common with source1 (on IDs)
9. NANs in 'name' = 6
10. NANs in 'website' = 1320267



__Source1 + Source2__

1. Number of IDs common to both = 780883
2. Hence, there are 1045286 rows in source1 (_not in source2_) which have a unique IDs but missing values of different address fields and name etc.
3. Also, there are 1490479 (=2271362-780883) rows in source2 (_not in source1_) which have (non-NAN) IDs (1489467 (=2270350-780883) unique) but missing values in 'address' and 'name' fields.

# Strategies

<font color='blue'>

    
1. Remove the similar (repetitive IDs) entries from source2 using NER.

    
2. Parse 'address' field of source2 into corresponding fields from source1.

    
3. Match 780883 rows in source1 and souce2 with common IDs, using information in the fields from each table to complete missing entries in the other table (if any)
    
 
</font>